@import "tailwindcss";
@plugin "daisyui";

@theme {
  @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
  }
  @keyframes slowZoom {
    from { transform: scale(1); }
    to { transform: scale(1.15); }
  }
  --animate-fadeInUp: fadeInUp 0.8s ease-out forwards;
  --animate-slowZoom: slowZoom 6s infinite alternate;
}